<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="nassaty.playmatedesign">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature android:name="android.hardware.camera2" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:allowBackup,icon,theme,label">
        <activity android:name=".ui.activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.activities.ChooseGame">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.activities.MainActivity" />
        </activity>
        <activity android:name=".ui.activities.Rival" />
        <activity android:name=".ui.activities.Profile">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.activities.MainActivity" />
        </activity>
        <activity android:name=".ui.activities.chooseFriend">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.activities.ChooseGame" />
        </activity>
        <activity android:name=".ui.activities.chooseGroup" />
        <activity android:name=".ui.activities.AddFriend">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.activities.MainActivity" />
        </activity>
        <activity android:name=".ui.activities.UserData" />
        <activity android:name=".ui.activities.Authentication" />
        <activity android:name=".ui.activities.PayBack">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.activities.MainActivity" />
        </activity>
        <activity android:name=".ui.activities.Roulette" />
        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/AppTheme.Crop" />
        <activity android:name=".ui.activities.Prepare">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.activities.MainActivity" />
        </activity>
        <activity android:name=".ui.activities.CreateMethod" />
        <activity
            android:name="com.cooltechworks.creditcarddesign.CardEditActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".ui.activities.ViewCreditCards" />
        <activity android:name=".ui.activities.AddCreditCard" />
        <activity android:name=".ui.activities.Payment">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.activities.chooseFriend" />
        </activity>
        <activity android:name=".ui.activities.MaterialDesignClass" />
        <activity android:name=".ui.activities.Multi" />
        <activity android:name=".ui.activities.groupGame" />
        <activity android:name=".ui.activities.AddToken">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.activities.MainActivity" />
        </activity>
        <activity android:name=".ui.activities.CoinMaster">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.activities.MainActivity" />
        </activity>
    </application>

</manifest>